@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #252525;
  font-family: "Inter", sans-serif;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  border: 1px solid rgba(0, 0, 0, 0.14);
  background-color: #2C2C2C;
  border-radius: 2%;
  width: 500px;
  height: 422px;
}

.cardheader {
  text-align: center;
  color: #fff;
  font-size: 23px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.14);
}

.cardheader h2 {
  color: #fff;
  font-size: 23px;
  padding: 14px 0px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cardbody {
  display: flex;
  flex-direction: column;
  padding: 40px 50px;
}

.cardform {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.credentials {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cardform label {
  color: #8f8f8f;
  font-size: 15px;
}

.cardcenterbutton input[type="button"] {
  border-radius: 10px;
  background: #00fe87a1;
  color: #fff;
  font-size: 15px;
  border: none;
  font-weight: 400;
  cursor: pointer;
  width: 312px;
  height: 44px;
  padding: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.12);
}

.cardbody .cardinput {
  background: #252525;
  outline: none;
  padding: 10px;
  height: 50px;
  color: white;
  border: none;
  border-radius: 2%;
}

.cardcenterbutton {
  display: flex;
  justify-content: center;
}

.copyright {
  position: absolute;
  color: #ffffff6c;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.register a {
  color: #00fe87a1;
  padding-left: 5px;
  text-decoration: none;
}

.register {
  padding-top: 27px;
  display: flex;
  justify-content: center;
}

.register span {
  color: #ffffff;
}

.loginresultscontainer {
  position: absolute;
  top: 10px;
  right: 10px;
}

.loginresult {
  background-color: #181925;
  border: 1px solid #407bff;
  width: 300px;
  text-align: center;
  padding: 20px 0px;
  border-radius: 10px;
  color: white;
  margin-top: 10px;
  opacity: 1;
  transition: opacity 1s;
}

.loginresult.failed {
  border: 1px solid rgba(141, 3, 3, 0.41) !important;
  background: #972727 !important;
}
